.btn_variant_1 {
  height: 48px;
  border: none;
  background-color: #39cdcc;
  font-family: "Avenir-semibold";
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff;
  transition: all 200ms ease-in-out;
  max-width: 447px;
  width: 100%;
  letter-spacing: 0.1em;
}
.btn_variant_1:hover {
  background-color: #34b9b9;
}

.btn_variant_2 {
  height: 40px;
  border: none;
  background-color: #39cdcc;
  font-family: "Work Sans";
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff;
  transition: all 200ms ease-in-out;
  width: 98px;
}

.btn_variant_3 {
  height: 40px;
  border: 1px solid #545f7d;
  background-color: #39cdcc;
  font-family: "Work Sans";
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff;
  transition: all 200ms ease-in-out;
  width: 98px;
  background-color: transparent;
  color: #545f7d;
  font-weight: 600;
}

.input_variant_1 {
  height: 50px;
  max-width: 100%;
  width: 100%;
  border-radius: 5px;
  border: 2px solid rgba(84, 95, 125, 0.1490196078);
  padding-left: 16px;
  outline: #39cdcc;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.input_variant_1::-moz-placeholder {
  color: #545f7d;
  font: "Avenir-regular";
  opacity: 0.6;
}
.input_variant_1:-ms-input-placeholder {
  color: #545f7d;
  font: "Avenir-regular";
  opacity: 0.6;
}
.input_variant_1::placeholder {
  color: #545f7d;
  font: "Avenir-regular";
  opacity: 0.6;
}

.login_wrapper {
  max-width: 1440px;
  margin-inline: auto;
  overflow-x: hidden;
  width: 100%;
  padding: 0 100px;
  padding-top: 106px;
  display: flex;
  flex-direction: column;
}
.login_wrapper .logo {
  width: 174px;
  height: 36px;
  margin-bottom: 139px;
}
.login_wrapper .login_container {
  width: 100%;
  display: flex;
  align-items: center;
}

.left_login-section {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  transform: translateY(34px);
}
.left_login-section .login_image {
  transform: translateX(-40px);
}

.right_login-section {
  display: flex;
  flex-direction: column;
  max-width: 704px;
  width: 100%;
  padding-left: 100px;
}
.right_login-section h1 {
  font-family: "Avenir-bold";
  color: #213f7d;
  font-size: 40px;
  margin-bottom: 25px;
}
.right_login-section p {
  font-family: "Avenir-regular";
  font-size: 20px;
  margin-bottom: 60px;
}
.right_login-section .link {
  color: #39cdcc;
  font-family: "Avenir-semibold";
  font-size: 12px;
  letter-spacing: 0.1em;
}
.right_login-section button {
  margin-top: 6px;
}

.form_container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 447px;
  gap: 24px;
  width: 100%;
}
.form_container .reveal_password {
  position: absolute;
  right: 18px;
  bottom: 133px;
  font-family: "Avenir-semibold";
  letter-spacing: 0.1em;
  color: #39cdcc;
  font-size: 12px;
}

@media (max-width: 996px) {
  .login_wrapper {
    padding: 0 32px;
    padding-bottom: 100px;
    padding-top: 40px;
  }
  .login_wrapper .logo {
    margin-bottom: 40px;
  }
  .login_container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
  }
  .left_login-section {
    width: 100%;
    margin-bottom: 50px;
  }
  .left_login-section .login_image {
    transform: translateX(0);
    width: 100%;
  }
  .right_login-section {
    max-width: 100%;
    width: 100%;
    padding-left: 0px;
  }
  .right_login-section .form_container {
    max-width: 100%;
  }
  .right_login-section .form_container button {
    max-width: 100%;
  }
}
.loading_ellipsis {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-10%);
}
.loading_ellipsis div {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading_ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}
.loading_ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}
.loading_ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}
.loading_ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.dashboard_layout {
  display: grid;
  grid-template-columns: 1fr;
  max-height: 100vh;
  overflow: hidden;
}

@media (min-width: 996px) {
  .dashboard_layout {
    grid-template-columns: auto 1fr;
  }
}
.dashboard_header {
  height: 60px;
  border-bottom: 0.5px solid rgba(33, 2, 59, 0.09);
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 32px;
}
.dashboard_header .burger_icon {
  gap: 3px;
}
.dashboard_header .burger_icon span:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: right bottom center;
}
.dashboard_header .burger_icon span:nth-child(2) {
  display: block;
  width: 70%;
}
.dashboard_header .burger_icon span:nth-child(3) {
  transform: rotate(0deg);
}
.dashboard_header .dashboard_logo {
  width: 30%;
}
.dashboard_header form {
  display: none;
}
.dashboard_header .dashboard_header-right {
  display: none;
}

@media (min-width: 996px) {
  .dashboard_header {
    border-bottom: none;
    height: 100px;
    padding-inline: 60px;
  }
  .dashboard_header .dashboard_logo {
    display: none;
  }
  .dashboard_header form {
    display: flex;
    max-width: 400px;
    width: 100%;
    position: relative;
  }
  .dashboard_header form button {
    cursor: pointer;
    min-width: 66px;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #39cdcc;
  }
  .dashboard_header .dashboard_header-right {
    display: flex;
    gap: 35px;
    align-items: center;
  }
  .dashboard_header .dashboard_header-right .docs {
    color: #213f7d;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
  }
  .dashboard_header .dashboard_header-right .profile_avatar {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .dashboard_header .dashboard_header-right .profile_avatar span {
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 600;
  }
  .dashboard_header .dashboard_header-right .profile_avatar [alt=caret] {
    cursor: pointer;
  }
}
.dashboard_main-view {
  background-color: rgba(245, 245, 245, 0.831372549);
  height: calc(100vh - 100px);
}

aside {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 80px;
  position: absolute;
  min-width: 283px;
  max-width: 283px;
  height: 100vh;
  overflow-y: scroll;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  z-index: 500;
  transition: all 300ms ease-in-out;
}
aside::-webkit-scrollbar {
  display: none;
  width: 2px;
  background-color: rgba(84, 95, 125, 0.1490196078);
}
aside::-webkit-scrollbar-thumb {
  background-color: #39cdcc;
}
aside .dashboard_logo {
  width: 50%;
}
aside .logo_and_burger_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 74px;
  padding-inline: 30px;
}
aside .sidebar_link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-family: "Work Sans";
  font-weight: 400;
  color: #213f7d;
  font-size: 16px;
  height: 40px;
  width: 100%;
  padding-inline: 30px;
  margin-top: 8px;
  transition: all 200ms ease-in-out;
}
aside .sidebar_link:hover {
  border-left: 3px solid rgb(57, 205, 205);
  background-color: rgba(57, 205, 205, 0.06);
}
aside .customers h1 {
  padding-inline: 30px;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
aside .businesses h1 {
  padding-inline: 30px;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
aside .version {
  font-size: 14px;
  font-family: "Work Sans";
  padding-inline: 30px;
  margin-top: 40px;
}

.hide {
  transform: translateX(-100%) !important;
}

.active_link {
  border-left: 3px solid rgb(57, 205, 205);
  background-color: rgba(57, 205, 205, 0.06);
}

@media (min-width: 996px) {
  aside {
    position: relative;
  }
  aside .dashboard_logo {
    width: 145px;
    height: 30px;
  }
}
.burger_icon {
  display: flex;
  flex-direction: column;
  gap: 0px;
  transform: translateY(2px);
  border: none;
  background-color: transparent;
}
.burger_icon span {
  height: 3px;
  width: 25px;
  background: #213f7d;
}
.burger_icon span:nth-child(1) {
  transform: rotate(40deg);
  transform-origin: right bottom center;
}
.burger_icon span:nth-child(2) {
  display: none;
}
.burger_icon span:nth-child(3) {
  transform: translateY(-3px) rotate(-40deg);
  transform-origin: right top center;
}

@media (min-width: 996px) {
  .burger_icon {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin-inline: auto;
  color: #545f7d;
  overflow-x: hidden;
}

.app {
  width: 100%;
}

@font-face {
  font-family: "Avenir-bold";
  src: url("../assets/fonts/Metropolis-ExtraBold.otf");
}
@font-face {
  font-family: "Avenir-semibold";
  src: url("../assets/fonts/Metropolis-SemiBold.otf");
}
@font-face {
  font-family: "Avenir-regular";
  src: url("../assets/fonts/Metropolis-Regular.otf");
}/*# sourceMappingURL=index.css.map */