@import "./variables/fonts";
@import "./variables/colors";
@import "./mixins/base_button";
@import "./mixins/base_input";
@import "./login_page/";
@import "./loading_spinner/";
@import "./dashboard_layout/";
@import "./dashboard_header/";
@import "./dashboard_main/";
@import "./user_details/";
@import "./sidebar/";
@import "./burger_icon/";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

button:disabled {
  opacity: 0.4;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin-inline: auto;
  color: map-get($map: $colors, $key: violet_1);
  overflow-x: hidden;
}

.app {
  width: 100%;
}

@font-face {
  font-family: $avenir_700;
  src: url("../assets/fonts/Metropolis-ExtraBold.otf");
}

@font-face {
  font-family: $avenir_600;
  src: url("../assets/fonts/Metropolis-SemiBold.otf");
}

@font-face {
  font-family: $avenir_400;
  src: url("../assets/fonts/Metropolis-Regular.otf");
}
