.dashboard_layout {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1880px;
  width: 100%;
  margin-inline: auto;

  section {
    max-height: 100vh;
    overflow-y: scroll;
  }
}

@media (min-width: 996px) {
  .dashboard_layout {
    grid-template-columns: auto 1fr;
  }
}
