$colors: (
  teal_1: #39cdcc,
  dark_blue: #213f7d,
  off_white: #f5f5f5d4,
  white: #ffffff,
  gray_1: #213f7d1a,
  violet_1: #545f7d,
  violet_2: #545f7d26,
  yellow_1: #e9b200,
  red_1: #e4033b,
  green_1: #39cd62,
);
