$colors: (
  teal_1: #39cdcc,
  dark_blue: #213f7d,
  off_white: #e5e5e5,
  white: #ffffff,
  gray_1: #213f7d1a,
  violet_1: #545f7d,
  violet_2: #545f7d26,
  yellow: #e9b200,
  red: #e4033b,
  green: #39cd62,
);
