@import "../variables/colors";
@import "../variables/fonts";

@mixin input_base_style($height, $max_width, $font) {
  height: $height;
  max-width: $max_width;
  width: 100%;
  border-radius: 5px;
  border: 2px solid map-get($map: $colors, $key: violet_2);
  padding-left: 16px;
  outline: map-get($map: $colors, $key: teal_1);

  //   Placeholder styles
  &::placeholder {
    color: map-get($map: $colors, $key: violet_1);
    font: $font;
    opacity: 0.6;
  }
}

.input_variant_1 {
  @include input_base_style(50px, 100%, $avenir_400);
}

.input_variant_2 {
  @include input_base_style(50px, 100%, $avenir_400);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.input_variant_3 {
  @include input_base_style(40px, 100%, $avenir_400);
  outline: none;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-right: 16px;

  select {
    border: none;
    outline: none;
    appearance: none;
    height: 100%;
    width: 100%;
    color: rgb(84, 95, 12, 0.7);
  }

  [alt="caret_down"] {
    position: absolute;
    right: 16px;
    pointer-events: none;
    opacity: 0.7;
  }
}

.input_variant_4 {
  @include input_base_style(40px, 100%, $avenir_400);
}
