@import "../variables/colors";
@import "../variables/fonts";

@mixin input_base_style($height, $max_width, $font) {
  height: $height;
  max-width: $max_width;
  width: 100%;
  border-radius: 5px;
  border: 2px solid map-get($map: $colors, $key: violet_2);
  padding-left: 16px;
  outline: map-get($map: $colors, $key: teal_1);

  //   Placeholder styles
  &::placeholder {
    color: map-get($map: $colors, $key: violet_1);
    font: $font;
    opacity: 0.6;
  }
}

.input_variant_1 {
  @include input_base_style(50px, 100%, $avenir_400);
}
